body {
    background-color: rgb(112, 39, 112);
    color: white;
}

h1 {
    color: rgb(107, 187, 197);
    background-color: rgb(80, 22, 65);
    text-align: center;
    font-size: 50px;
    border-radius: 1rem;
}

h2 {
    color: aquamarine;
}

h3 {
    color: blanchedalmond;
}

a {
    color: rgb(206, 87, 166);
}

ul{
    color: aqua;
}

ol{
    color: aqua;
}